Question Title:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left;" ng-model="mcqtitle"
placeholder="Type your Question title here">
<br>
Question Description:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="mcqdescription"
placeholder="Type your Question Description here">
<br>
Answer Options: <span style="float:right">Right Options</span><br>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;text-align:left;display:inline;margin-bottom:1%" ng-model="mcqansA"
  placeholder="Type option A here">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox1" value="a" style="float:right" ng-model="mcqrightansA">
</span>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;text-align:left;display:inline;margin-bottom:1%" ng-model="mcqansB"
  placeholder="Type option B here">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox2" value="b" style="float:right" ng-model="mcqrightansB">
</span>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;text-align:left;display:inline;margin-bottom:1%" ng-model="mcqansC"
  placeholder="Type option C here">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox3" value="c" style="float:right" ng-model="mcqrightansC">
</span>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;text-align:left;display:inline;margin-bottom:1%" ng-model="mcqansD"
  placeholder="Type option D here">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox4" value="d" style="float:right" ng-model="mcqrightansD">
</span>
<br>
Instructions:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="mcqinstruction"
placeholder="Type instructions here..(e.g: do and dont's etc)">
