Question Title:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="mcqtitle">
<br>
Question Description:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="mcqdescription">
<br>
Answer Options: <span style="float:right">Right Options</span><br>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;display:inline" ng-model="mcqansA">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox1" value="a" style="float:right" ng-model="mcqrightansA">
</span>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;display:inline" ng-model="mcqansB">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox2" value="b" style="float:right" ng-model="mcqrightansB">
</span>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;display:inline" ng-model="mcqansC">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox3" value="c" style="float:right" ng-model="mcqrightansC">
</span>
<span><input type="text" class="input-group-text" style="width:80%;background-color: #f8f9fa;display:inline" ng-model="mcqansD">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox4" value="d" style="float:right" ng-model="mcqrightansD">
</span>
<br>
Instructions:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="mcqinstruction">
