Question Title:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="passtitle"
placeholder="Type your Question title here">
<br>
Question Description:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="passdesc"
placeholder="Type your Question Description here">
<br>
Ideal Answer:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="passanswer"
placeholder="Type your Answer here">
<br>
Instruction:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="passintruc"
placeholder="Type instructions here..(e.g: do and dont's etc)"
>
