Question Title:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="passtitle">
<br>
Question Description:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="passdesc">
<br>
Ideal Answer:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="passanswer">
<br>
Instruction:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;" ng-model="passintruc">
