Question Title:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="submtitle"
placeholder="Type your Question title here">
<br>
Question Description:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="submdescription"
placeholder="Type your Question Description here">
<br>
Instructions:
<br>
<input type="text" class="input-group-text" style="width:100%;background-color: #f8f9fa;text-align:left" ng-model="subminstruction"
placeholder="Type instructions here..(e.g: do and dont's etc)">

<!-- <button type="submit" ng-click="getvalues()">ADD</button> -->
